<div class="jobs-container">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-caption d-none d-md-block">
        <h5>الرئيسية / الوظائف / اخصائي اجتماعي</h5>
        <p>اخصائي اجتماعي</p>
      </div>
      <div class="carousel-item active">
        <img src="/images/newes-cover.webp" class="d-block w-100" alt="..." />
      </div>
    </div>
  </div>
  <div class="job-details-section section-padding">
    <div class="row mb-2 mb-sm-0 basic-info">
      <div class="col">
        <p class="title mb-2">الوصف الوظيفي</p>
        <p class="descreption p-2">
          نبحث عن أخصائي اجتماعي متمرس للانضمام إلى فريقنا وتقديم الدعم
          الاجتماعي والنفسي للأفراد والأسر وفقًا لاحتياجاتهم. سيكون المرشح
          المثالي مسؤولًا عن تقديم الاستشارات، وتقييم الحالات، وتطوير خطط التدخل
          المناسبة لتحسين جودة حياة المستفيدين.
        </p>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <p class="title mb-2 mb-sm-0">المهام والمسؤوليات</p>
      <ul class="p-2">
        <li>
          تقديم الدعم والاستشارة للأفراد والأسر الذين يواجهون تحديات اجتماعية أو
          نفسية.
        </li>
        <li>تقييم الحالات ووضع خطط علاجية مخصصة وفقًا لاحتياجات المستفيدين.</li>
        <li>
          التعاون مع الجهات المعنية مثل المستشفيات، المدارس، والمؤسسات الخيرية
          لتوفير الدعم اللازم.
        </li>
        <li>إعداد التقارير الدورية وتوثيق الحالات وفقًا للمعايير المهنية.</li>
        <li>
          تقديم برامج توعوية وورش عمل للمجتمع حول القضايا الاجتماعية المختلفة.
        </li>
        <li>المساهمة في تطوير السياسات والبرامج الاجتماعية داخل المؤسسة.</li>
      </ul>
    </div>
    <div class="row my-2 mb-sm-0">
      <p class="title mb-2">المؤهلات والخبرات المطلوبة:</p>
      <ul class="p-2">
        <li>
          درجة البكالوريوس في الخدمة الاجتماعية، علم الاجتماع، أو أي مجال ذي
          صلة.
        </li>
        <li>خبرة لا تقل عن 8 سنوات في العمل الاجتماعي أو مجال مشابه.</li>
        <li>مهارات ممتازة في التواصل وحل المشكلات.</li>
        <li>القدرة على التعامل مع الفئات المختلفة باحترام وسرية تامة.</li>
        <li>الإلمام بالقوانين والسياسات المتعلقة بالرعاية الاجتماعية.</li>
        <li>
          القدرة على إعداد التقارير المهنية واستخدام برامج الحاسوب ذات الصلة.
        </li>
      </ul>
    </div>
    <div class="row">
      <p class="title mb-2">المزايا</p>
      <ul class="p-2">
        <li>بيئة عمل داعمة ومهنية.</li>
        <li>راتب تنافسي وحوافز مجزية.</li>
        <li>فرص للتدريب والتطوير المهني.</li>
      </ul>
    </div>
    <hr />
    <div class="row">
      <p class="title">نموذج التقديم على الوظيفة</p>
      <form>
        <div class="row mt-4 mb-2">
          <div class="col">
            <input type="text" placeholder="الأسم" />
          </div>
          <div class="col">
            <input type="text" placeholder="رقم الهاتف" />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <input type="email" placeholder="البريد الألكتروني" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-feaild file-field">
              <input
                dir="auto"
                class="feaild-input feaild-input-error file-input"
                nbInput
                type="file"
                hidden
                id="companySettingsImg"
              />
              <label class="grid border-full p-4" for="companySettingsImg">
                <h4>قم برفع الملف</h4>
                <p class="subtitle">صيغة الملف: pdf, docx... </p>
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
