<nav class="navbar navbar-expand-lg m-0 p-0">
  <div
    class="container-fluid position-absolute z-1 top-50 d-flex align-items-center"
  >
    <a class="navbar-brand" href="#">
      <img class="logo" src="/icons/logo.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/home"
            >الرئيسية</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">عن المؤسسة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">برامجنا</a>
        </li>
        <li>
          <a
            class="nav-link"
            routerLink="/our-partners"
            routerLinkActive="not-home-active"
          >
            شركاؤنا
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/newes"
            routerLinkActive="not-home-active"
            >الأخبار</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="not-home-active"
            routerLink="/jobs"
            >الوظائف</a
          >
        </li>
      </ul>
    </div>
    <button class="btn primary" [ngClass]="{ basic: isNotHome() }">
      اتصل بنا
    </button>
  </div>
</nav>
