 <div class="info-socailMedia">
      <div class="row mx-0 p-0 m-0">
        <div class="col d-flex justify-content-start">
          <div class="d-flex">
            <p>
              <img class="icon" src="/icons/inbox.png" alt="" />
              infoamid.org
            </p>
            <p>
              <img class="icon" src="/icons/phone.png" alt="" />
              +218 92 6636376
            </p>
          </div>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
          <div class="d-flex gap-2">
            <a href="">
              <img class="icon" src="/icons/facebook.png" alt="" />
            </a>
            <a href="">
              <img class="icon" src="/icons/instagram.png" alt="" />
            </a>
            <a href="">
              <img class="icon" src="/icons/tiktok.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>