<div class="info-socailMedia">
  <div class="row mx-0 p-0 m-0">
    <div class="col d-flex justify-content-start">
      <div class="d-flex">
        <p>
          <img class="icon" src="/icons/inbox.png" alt="" />
          infoamid&#64;.org
        </p>
        <p>
          <img class="icon" src="/icons/phone.png" alt="" />
          +218 92 6636376
        </p>
      </div>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <div class="d-flex gap-2">
        <a href="https://www.facebook.com/wamidd.org">
          <img class="icon" src="/icons/facebook.png" alt="" target="_blank" />
        </a>
        <a href="https://www.instagram.com/wamiddorg/" target="_blank">
          <img class="icon" src="/icons/instagram.png" alt="" />
        </a>
        <a
          href="https://www.tiktok.com/@wamid.org?_t=ZM-8wvXaaqyZGw&_r=1"
          target="_blank"
        >
          <img class="icon" src="/icons/tiktok.png" alt="" target="_blank" />
        </a>
      </div>
    </div>
  </div>
</div>
