<div class="info-socailMedia">
  <div class="row mx-0 p-0 m-0">
    <div class="col d-flex justify-content-start">
      <div class="d-flex">
        <p>
          <img class="icon" src="/icons/inbox.png" alt="" />
          {{ ContactInfo?.email }}
        </p>
        <p class="ms-1" dir="ltr">
          {{ ContactInfo?.phone }}
          <img class="icon" src="/icons/phone.png" alt="" />
        </p>
      </div>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <div class="d-flex gap-2">
        <a [href]="ContactInfo?.facebookLink" target="_blank">
          <img class="icon" src="/icons/facebook.png" alt="" />
        </a>
        <a [href]="ContactInfo?.instagramLink" target="_blank">
          <img class="icon" src="/icons/instagram.png" alt="" />
        </a>
        <a [href]="ContactInfo?.tikTokLink" target="_blank">
          <img class="icon" src="/icons/tiktok.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
