<div class="row cards mt-4">
  <div class="card" style="width: 18rem; padding: 0">
    <img src="/images/newes.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <div class="d-flex justify-content-between mb-2">
        <span style="font-size: 9px" class="primary-color">01-11-2024</span>
      </div>
      <h5 class="card-title">احتفالا باليوم العالمي للغذاء</h5>
      <p class="card-text">
        في إطار إحياء اليوم العالمي للطفل، نظم مركز بيتي في اجدابيا جلسة خارجية
        مميزة جمعت الأطفال في أجواء من المرح والنقاش.
      </p>
      <a href="" class="primary-color">إقرأ المزيد</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; padding: 0">
    <img src="/images/newes.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <div class="d-flex justify-content-between mb-2">
        <span style="font-size: 9px" class="primary-color">01-11-2024</span>
      </div>
      <h5 class="card-title">احتفالا باليوم العالمي للغذاء</h5>
      <p class="card-text">
        في إطار إحياء اليوم العالمي للطفل، نظم مركز بيتي في اجدابيا جلسة خارجية
        مميزة جمعت الأطفال في أجواء من المرح والنقاش.
      </p>
      <a href="" class="primary-color">إقرأ المزيد</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; padding: 0">
    <img src="/images/newes.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <div class="d-flex justify-content-between mb-2">
        <span style="font-size: 9px" class="primary-color">01-11-2024</span>
      </div>
      <h5 class="card-title">احتفالا باليوم العالمي للغذاء</h5>
      <p class="card-text">
        في إطار إحياء اليوم العالمي للطفل، نظم مركز بيتي في اجدابيا جلسة خارجية
        مميزة جمعت الأطفال في أجواء من المرح والنقاش.
      </p>
      <a href="" class="primary-color">إقرأ المزيد</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; padding: 0">
    <img src="/images/newes.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <div class="d-flex justify-content-between mb-2">
        <span style="font-size: 9px" class="primary-color">01-11-2024</span>
      </div>
      <h5 class="card-title">احتفالا باليوم العالمي للغذاء</h5>
      <p class="card-text">
        في إطار إحياء اليوم العالمي للطفل، نظم مركز بيتي في اجدابيا جلسة خارجية
        مميزة جمعت الأطفال في أجواء من المرح والنقاش.
      </p>
      <a href="" class="primary-color">إقرأ المزيد</a>
    </div>
  </div>
</div>
