<div class="row cards mt-4">
  @for (Newes of NewesList; track $index) {
  <div class="card" style="width: 18rem; padding: 0">
    <img
      [src]="'data:image/jpeg;base64,' + Newes.sliderImages[0].imageData"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <div class="d-flex justify-content-between mb-2">
        <span style="font-size: 9px" class="primary-color">{{
          Newes?.categoryName
        }}</span>
        <span style="font-size: 9px" class="primary-color">{{
          Newes?.createdAt | date : "dd/MM/yyyy"
        }}</span>
      </div>
      <h5 class="card-title">
        {{ Newes?.title }}
      </h5>
      <p class="card-text">
        {{ Newes?.description }}
      </p>
      <a [routerLink]="['/newes', Newes.id]" class="primary-color"
        >عرض المزيد</a
      >
    </div>
  </div>
  }
</div>
