<div class="jobs-container">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-caption d-none d-md-block">
        <h5>الصفحة قيد التطوير</h5>
        <p>
          نعمل حاليًا على تطوير هذه الصفحة لتقديم تجربة أفضل. 
        </p>
      </div>
      <div class="carousel-item active">
        <img src="/images/newes-cover.webp" class="d-block w-100" alt="..." />
      </div>
    </div>
  </div>
  <div
    class="section-padding d-flex justify-content-center flex-column align-items-center"
  >
    <img src="/images/undraw_bug-fixing.png" alt="" />
  </div>
</div>
