<div class="home-container">
  <div
    id="carouselExampleIndicators"
    data-bs-ride="carousel"
    class="carousel slide"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/cover1.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>لنحدث فرقًا بحب وعطاء لا حدود له</h5>
        <p>معًا ننشر الخير ونرسم البسمة في كل مكان</p>
      </div>
      <div class="carousel-item">
        <img src="/images/cover1.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="/images/cover1.png" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="statistics-sectin section-padding">
    <div class="row d-flex align-items-end text-center">
      <div class="col statistics">
        <img src="/icons/meeting_conference.png" alt="" />
        <p class="number primary-color">15</p>
        <p class="title">الجلسات الحوارية</p>
      </div>
      <div class="col statistics">
        <img src="/icons/assistant_educator.png" alt="" />
        <p class="number primary-color">15</p>
        <p class="title">عدد ورش العمل</p>
      </div>
      <div class="col statistics">
        <img src="/icons/Group.png" alt="" />
        <p class="number primary-color">15</p>
        <p class="title">عدد المدربين</p>
      </div>
      <div class="col statistics">
        <img src="/icons/users_group.png" alt="" />
        <p class="number primary-color">15</p>
        <p class="title">عدد المتدربين</p>
      </div>
      <div class="col satistics">
        <img src="/icons/bus_school.png" alt="" />
        <p class="number primary-color">15</p>
        <p class="title">الزيارات الميدانية</p>
      </div>
    </div>
  </div>
  <div class="about-us-section section-padding">
    <div class="row text-center">
      <div class="col-12 col-md-6">
        <img src="/images/about-us-all.png" alt="" />
      </div>
      <div class="col-12 col-md-6">
        <h3 class="section-name">
          <span class="line"></span>
          عن المؤسسة
        </h3>
        <p class="section-header">نؤمن بالتغيير عبر العطاء والعمل المشترك</p>
        <p class="section-paragraph">
          برنامج مخصص لطلاب التعليم الأساسي والثانوي، يهدف إلى تعزيز معارفهم
          وتطوير مهاراتهم الأكاديمية عبر دورات منهجية شاملة.
        </p>
        <ul class="my-2">
          <div class="row mb-2">
            <div class="col">
              <li>
                <img src="/icons/circle-check.png" alt="" />
                تعزيز التعليم للجميع
              </li>
            </div>
            <div class="col">
              <li>
                <img src="/icons/circle-check.png" alt="" />
                تحقيق التنمية المستدامة
              </li>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <li>
                <img src="/icons/circle-check.png" alt="" />
                نشر الوعي البيئي
              </li>
            </div>
            <div class="col">
              <li>
                <img src="/icons/circle-check.png" alt="" />
                تشجيع العمل التطوعي
              </li>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="our-program-section">
    <div class="row">
      <div class="col-12 col-md-6 section-padding">
        <h3 class="section-name basic-color">
          <span class="line" style="background: #fff"></span>
          برامجنا
        </h3>
        <p class="section-header basic-color">
          احتفال اليوم العالمي للطفل بمركز بيتي - اجدابيا
        </p>
        <p class="section-paragraph basic-color">
          في إطار إحياء اليوم العالمي للطفل، نظم مركز بيتي في اجدابيا جلسة
          خارجية مميزة جمعت الأطفال في أجواء من المرح والنقاش.
        </p>
        <div class="row mt-4">
          <div class="col">
            <button class="btn basic ms-2">عن البرنامج</button>
            <button class="btn basic-outline">عرض البرامج</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 p-0">
        <img src="/images/our-program.png" alt="" />
      </div>
    </div>
  </div>
</div>
