<div class="footer-container">
  <div class="row section-padding">
    <div class="col-12 col-md-4 icons">
      <div class="row">
        <img class="logo" src="/icons/logo.png" alt="" />
      </div>
      <div class="row my-4">
        <p>ملتزمون بالعمل الإنساني لتعزيز رفاهية المجتمع.</p>
      </div>
      <div class="row">
        <img class="social-icon" src="/icons/facebook.png" alt="" />
        <img class="social-icon" src="/icons/instagram.png" alt="" />
        <img class="social-icon" src="/icons/tiktok.png" alt="" />
      </div>
    </div>
    <div class="col-12 col-md-4 importent-links">
      <div class="row">
        <h4 class="mb-2">روابط مهمة</h4>
        <ul>
          <li>
            <a routerLink="/home">الرئيسية</a>
          </li>
          <!-- <li>
            <a href="">عن المؤسسة</a>
          </li> -->
          <li>
            <a href="">برامجنا</a>
          </li>
          <li>
            <a routerLink="/newes"> الاخبار </a>
          </li>
          <li>
            <a routerLink="/jobs">الوظائف</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-4 contact-us">
      <div class="row">
        <h4 class="mb-2">تواصل معنا</h4>
        <ul>
          <li class="ms-1 justify-content-end" dir="ltr">
            {{ ContactInfo?.phone }}
            <img src="/icons/phone-footer.png" alt="" />
          </li>
          <li>
            <img src="/icons/email-footer.png" alt="" />
            {{ ContactInfo?.email }}
          </li>
          <li>
            <img src="/icons/location-footer.png" alt="" />
            {{ ContactInfo?.location }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright p-2">
    <p class="w-100">2025 © جميع الحقوق محفوظة لمؤسسة وميض للتنمية</p>
  </div>
</div>
