<div class="footer-container">
  <div class="row section-padding">
    <div class="col-12 col-md-4 icons">
      <div class="row">
        <img class="logo" src="/icons/logo.png" alt="" />
      </div>
      <div class="row my-4">
        <p>ملتزمون بالعمل الإنساني لتعزيز رفاهية المجتمع.</p>
      </div>
      <div class="row">
        <img class="social-icon" src="/icons/facebook.png" alt="" />
        <img class="social-icon" src="/icons/instagram.png" alt="" />
        <img class="social-icon" src="/icons/tiktok.png" alt="" />
      </div>
    </div>
    <div class="col-12 col-md-4 importent-links">
      <div class="row">
        <h4 class="mb-2">روابط مهمة</h4>
        <ul>
          <li>
            <a href="">الرئيسية</a>
          </li>
          <li>
            <a href="">عن المؤسسة</a>
          </li>
          <li>
            <a href="">برامجنا</a>
          </li>
          <li>
            <a href="">معرض الصور</a>
          </li>
          <li>
            <a href="">الوظائف</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-4 contact-us">
      <div class="row">
        <h4 class="mb-2">تواصل معنا</h4>
        <ul>
          <li>
            <img src="/icons/phone-footer.png" alt="" />
            +218 92 6636376
          </li>
          <li>
            <img src="/icons/email-footer.png" alt="" />
            infoamid&#64;.org
          </li>
          <li>
            <img src="/icons/location-footer.png" alt="" />
            اجدابيا - ليبيا
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mt-4 copyright p-2">
    <p>2025 © جميع الحقوق محفوظة لمؤسسة وميض للتنمية</p>
    <div>
      <img src="/icons/UNICEF.png" alt="" />
      <img src="/icons/Intersos.png" alt="" />
    </div>
  </div>
</div>
