<div class="sidebar-container">
  <div class="row">
    <input type="text" placeholder="بحث..." />
  </div>
  <div class="row newes-category">
    <p>التصنيفات</p>
    <ul>
      <li>أخبار المنظمة</li>
      <li>مشاريعنا الخيرية</li>
      <li>قصص النجاح</li>
      <li>حملات التبرع</li>
      <li>الفعاليات والأنشطة</li>
    </ul>
  </div>
  <div class="row last-newes d-none d-lg-block">
    <p>اخر الأخبار</p>
    <div class="newes">
      <img src="/images/newes.png" alt="" />
      <div class="newes-content">
        <p class="title primary-color">مشاريعنا الخيرية, 24 فبراير 2024</p>
        <span>
          نجاح حملة الشتاء الدافئ وتوزيع المساعدات على 500 أسرة محتاجة
        </span>
      </div>
    </div>
    <div class="newes">
      <img src="/images/newes2.jpg" alt="" />
      <div class="newes-content">
        <p class="title primary-color">مشاريعنا الخيرية, 24 فبراير 2024</p>
        <span>
          نجاح حملة الشتاء الدافئ وتوزيع المساعدات على 500 أسرة محتاجة
        </span>
      </div>
    </div>
  </div>
</div>
