<div class="sidebar-container">
  <div class="row">
    <input
      [(ngModel)]="searchText"
      (keyup.enter)="onSearch()"
      type="text"
      placeholder="بحث..."
    />
  </div>
  <div class="row newes-category">
    <p>التصنيفات</p>
    <ul>
      @for (Category of NewesCategories; track $index) {
      <li
        [class.active]="selectedCategoryId === Category.id"
        (click)="onSelectCategory(Category)"
      >
        {{ Category?.name }}
      </li>
      }
    </ul>
  </div>
  <div class="row last-newes d-none d-lg-block">
    <p>اخر الأخبار</p>
    @for (Newes of LastNewes; track $index) {
    <div class="newes" [routerLink]="['/newes', Newes.id]">
      <img
        [src]="'data:image/jpeg;base64,' + Newes.sliderImages[0].imageData"
        alt=""
      />
      <div class="newes-content">
        <p class="title primary-color">{{ Newes?.title }}</p>
        <span class="description">
          {{ Newes?.description }}
        </span>
      </div>
    </div>
    }
  </div>
</div>
