<div class="jobs-container">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-caption d-none d-md-block">
        <h5>الرئيسية / الوظائف</h5>
        <p>الوظائف</p>
      </div>
      <div class="carousel-item active">
        <img src="/images/newes-cover.webp" class="d-block w-100" alt="..." />
      </div>
    </div>
  </div>
  <div
    class="jobs section-padding d-flex justify-content-center flex-column align-items-center"
  >
    <div class="row my-4">
      <h3 class="section-name">
        <span class="line"></span>
        الوظائف المتاحة
      </h3>
      <p class="section-header text-center">انضم إلينا وكن جزءًا من التغيير</p>
    </div>
    <div class="job-card mb-3">
      <div class="start">
        <img src="/icons/pencil_edit.png" alt="" />
        <div class="content">
          <p class="title">معلم غير رسمي</p>
          <p class="location">اجدابيا - ليبيا</p>
        </div>
      </div>
      <button type="button" class="btn primary">التفاصيل</button>
    </div>
    <div class="job-card mb-3">
      <div class="start">
        <img src="/icons/pencil_edit.png" alt="" />
        <div class="content">
          <p class="title">اخصائي اجتماعي - ادارة الحالات الفردية</p>
          <p class="location">اجدابيا - ليبيا</p>
        </div>
      </div>
      <button type="button" class="btn primary">التفاصيل</button>
    </div>
    <div class="job-card mb-3">
      <div class="start">
        <img src="/icons/pencil_edit.png" alt="" />
        <div class="content">
          <p class="title">مدخل بيانات</p>
          <p class="location">اجدابيا - ليبيا</p>
        </div>
      </div>
      <button type="button" class="btn primary">التفاصيل</button>
    </div>
  </div>
</div>
