<div class="jobs-container">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-caption d-none d-md-block">
        <h5>الرئيسية / الوظائف / التسجيل</h5>
        <p>التسجيل كباحث عن وظيفية</p>
      </div>
      <div class="carousel-item active">
        <img src="/images/newes-cover.webp" class="d-block w-100" alt="..." />
      </div>
    </div>
  </div>
  <div
    class="jobs section-padding d-flex justify-content-center flex-column align-items-center"
  >
    <div class="row my-4">
      <h3 class="section-name">
        <span class="line"></span>
        التسجيل كباحث عن وضيفية
      </h3>
      <p class="section-header text-center">
        "سجّل الآن وكن على مقربة من الفرصة التي تستحقها."
      </p>
    </div>
    <div class="row">
      <p class="title">نموذج باحث عن الوظيفة</p>
      <form [formGroup]="RegistrationForm">
        <div class="row mt-4 mb-2">
          <div class="col">
            <input formControlName="FullName" type="text" placeholder="الأسم" />
          </div>
          <div class="col">
            <input
              formControlName="PhoneNumber"
              type="text"
              placeholder="رقم الهاتف"
            />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <input
              formControlName="Email"
              type="email"
              placeholder="البريد الألكتروني"
            />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <div class="form-feaild file-field">
              <input
                dir="auto"
                class="feaild-input feaild-input-error file-input w-100"
                nbInput
                type="file"
                hidden
                id="companySettingsImg"
                #fileInputRef
                (change)="handleFileInputChange($event)"
              />
              <label class="grid border-full p-4" for="companySettingsImg">
                <h4>قم برفع الملف</h4>
                <p class="subtitle">صيغة الملف: pdf, docx...</p>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col w-100">
            <button (click)="submit()" class="btn primary w-100">إرسال</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
