<div class="our-partners-container">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/our-partners.webp" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>الرئيسية / شركائنا</h5>
        <p>الشركاء والمانحين</p>
      </div>
      <div class="carousel-item">
        <img src="/images/programs-cover.webp" class="d-block w-100" alt="..." />
      </div>
    </div>
  </div>
  <div
    class="our-partners section-padding d-flex justify-content-center flex-column align-items-center"
  >
    <div class="row my-4">
      <h3 class="section-name">
        <span class="line"></span>
        شركاؤنا
      </h3>
      <p class="section-header text-center">
        شركاؤنا في العطاء لتحقيق مستقبل مليء بالأمل
      </p>
      <p class="section-paragraph text-center">
        نفخر بشراكتنا مع الجهات الداعمة لتعزيز المشاريع الخيرية والتنموية، ونعمل
        معًا لإحداث تأثير إيجابي ومستدام في المجتمع.
      </p>
    </div>
    <div class="our-partners-logos p-2">
      <img src="/images/our-partners-logos/acted.png" alt="" />
      <img src="/images/our-partners-logos/INTERSOS.png" alt="" />
      <img src="/images/our-partners-logos/UNICEF.png" alt="" />
    </div>
  </div>
</div>
